$primary: #FD8900;
$secondary: #FFC83A;
$background-light: #FAFAFA;
$background-dark: #1B1B1B;
$gray-light: #F1F1F1;
$gray-dark: #222222;
$text-light: #000000;
$text-dark: #FFFFFF;
$shadows-light: #D8D8D8;
